<div class="header">
    <ul class="header__menu">
        <li class="header__menu--item">
            <a [routerLink]="['/']">Home</a>
        </li>
        <li class="header__menu--item">
            <a [routerLink]="['/products']">Productos</a>
        </li>
        <li class="header__menu--item">
            <a [routerLink]="['/basic-form']">Basic Form</a>
        </li>
        <li class="header__menu--item">
            <a [routerLink]="['/form-group']">Form Group</a>
        </li>
    </ul>
</div>