<div class="product-catalog">
    <div class="product-item" *ngFor="let product of products">
        <a [routerLink]="['/product/', product.id]">
            <div class="product-image">
                <img src="{{product.image}}" alt="{{product.title}}"/>
            </div>
            <p class="product-detail product-title">
                {{product.title}}
            </p>
            <p class="product-detail product-category">
                {{product.category}}
            </p>
            <p class="product-detail">
                {{product.price | currency}}
            </p>
        </a>
    </div>
</div>
